*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f7edff;
}

.buttons{
    margin: 50px;
}

.buttons button{
    border: none;
    outline: none;
    height: 50px;
    width: 150px;
    background: #ff6b6b;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
}